 <h1 class="center-align">Profile</h1>
 
 <div class="row">
   <div class="col-md-8">
       <h2> Created Bookmarks </h2>  
     <% @user_bookmarks.each do |bookmark| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
           </h4>
         </div>
       </div>
     <% end %>
   </div>
   
   <br />
   
   <div class="col-md-8">
     <h2> Liked Bookmarks </h2>  
     <% @liked_bookmarks.each do |bookmark| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
             <div>
               <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
             </div>
           </h4>
         </div>
       </div>
     <% end %>
   </div>
 </div>