<h1 class="center-align">G-Marks</h1>
<h5 class="center-align">G-Marks is an interactive tool to save, like, and share your favorite websites!</h5>

<div class="row center-align home-icons">
  <div class="col s4">
    <i class="material-icons large">book</i>
    <h4>Browse Topics</h4>
    <p>Search for your favorite topics or create your own.</p>
  </div>
  <div class="col s4">
    <i class="material-icons large">library_add</i>
    <h4>Create Bookmarks</h4>
    <p>Share your favorite bookmarked pages with other users.</p>
  </div>
  <div class="col s4">
    <i class="material-icons large">mood</i>
    <h4>Like & Enjoy!</h4>
    <p>Easily find and manage your favorite bookmarks from your profile!</p>
  </div>
</div>